.folder{
  &-wrapper {
    background-color: #e3e3e3;
    padding: 20px 15px;
    margin:20px 30px;
  }
  &-header {
    background-color: pink;
  }
  &-email {
    color: pink;
    padding-left: 40px;
    background-color: #7b7b7b;
  }


}