.preloader {
  width: 25px;
  height: 25px;
  border: 3px solid #7b7b7b;
  border-bottom-color: transparent;
  border-radius: 50%;
  transform: rotate(0);
  animation: preload 1s linear infinite;
}

@keyframes preload {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=Preloader.css.map */
