.modal-bg {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.modal-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/*# sourceMappingURL=NewMail.css.map */
